<!DOCTYPE html>
<html>
<head>
  <%- include("../partials/header",{title:"Beasiswa Luar Biasa"}) %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">
            <h1>Beasiswa</h1>
            <h1 class="pb-5">Luar Biasa</h1>
            <h3 class="pb-5">Bantu wujudkan mimpi anak bangsa bersama</h3>
            <a type="button" class="btn btn-lg btn-primary mb-2" href="#">Menjadi Donatur</a>
            <a type="button" class="btn btn-lg btn-primary mb-2" href="#">Menjadi Penerima</a>
        </div>
    </div>

    <div class="container">
        <h1 class="text-center pt-5 pb-5">Peduli Pendidikan</h1>
        <div class="row">
            <div class="col-md">
                <div class="row">
                    <div class="col-3">
                        <img class="circle-logo" src="/img/education.png"/>
                    </div>
                    <div class="col-9">
                        <strong>Membantu Perekonomian Mahasiswa</strong>
                        <p>Banyak mahasiswa dengan prestasi biasa saja namun tetap membutuhkan bantuan ekonomi dengan latar belakang keluarga yang kurang mampu, sedangkan kebanyakan beasiswa mensyaratkan mahasiswa yang pintar</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-3">
                        <img class="circle-logo" src="/img/education.png"/>
                    </div>
                    <div class="col-9">
                        <strong>Membantu Perekonomian Mahasiswa</strong>
                        <p>Banyak mahasiswa dengan prestasi biasa saja namun tetap membutuhkan bantuan ekonomi dengan latar belakang keluarga yang kurang mampu, sedangkan kebanyakan beasiswa mensyaratkan mahasiswa yang pintar</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-md">
                <div class="row">
                    <div class="col-3">
                        <img class="circle-logo" src="/img/education.png"/>
                    </div>
                    <div class="col-9">
                        <strong>Membantu Perekonomian Mahasiswa</strong>
                        <p>Banyak mahasiswa dengan prestasi biasa saja namun tetap membutuhkan bantuan ekonomi dengan latar belakang keluarga yang kurang mampu, sedangkan kebanyakan beasiswa mensyaratkan mahasiswa yang pintar</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-3">
                        <img class="circle-logo" src="/img/education.png"/>
                    </div>
                    <div class="col-9">
                        <strong>Membantu Perekonomian Mahasiswa</strong>
                        <p>Banyak mahasiswa dengan prestasi biasa saja namun tetap membutuhkan bantuan ekonomi dengan latar belakang keluarga yang kurang mampu, sedangkan kebanyakan beasiswa mensyaratkan mahasiswa yang pintar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3" style="background-color:#f8f8f8">
        <h1 class="text-center pt-5">Program Beasiswa</h1>
        <h2 class="text-center pb-5">Kami mencari dan menyalurkan seluruhnya</h2>
        <div class="container pb-5">
            <div class="row">
                <div class="col-md mb-2">
                    <img class="box-logo" src="/img/education.png"/>
                    <div class="overlay">
                        <div class="text-box">
                            <div class="text-center px-1">
                                <strong>1. Pendaftaran Donatur</strong>
                                <p>Pencarian dana untuk penerima dari donatur</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md mb-2">
                    <img class="box-logo" src="/img/education.png"/>
                    <div class="overlay">
                        <div class="text-box">
                            <div class="text-center px-1">
                                <strong>2. Seleksi Penerima</strong>
                                <p>Pencarian penerima bantuan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md mb-2">
                    <img class="box-logo" src="/img/education.png"/>
                    <div class="overlay">
                        <div class="text-box">
                            <div class="text-center px-1">
                                <strong>3. Seleksi Penerima</strong>
                                <p>Pencarian penerima bantuan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md mb-2">
                    <img class="box-logo" src="/img/education.png"/>
                    <div class="overlay">
                        <div class="text-box">
                            <div class="text-center px-1">
                                <strong>4. Pelaporan</strong>
                                <p>Dana yang diterima akan dilaporkan perbulan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3 img-container">
        <h1 class="text-center pt-5 pb-5">Pencapaian Kami</h1>
        <div class="container pb-5">
            <div class="row">
                <div class="col-md px-5">
                    <div class="achievement-box">
                        <img class="achievement-logo" src="/img/education.png"/>
                        <span style="font-size:70px">300</span>
                        <h2>Donatur yang berbagi</h2> 
                    </div>
                </div>
                <div class="col-md px-5">
                    <div class="achievement-box">
                        <img class="achievement-logo" src="/img/education.png"/>
                        <span style="font-size:70px">20000000</span>
                        <h2>Uang tersalurkan</h2> 
                    </div>
                </div>
                <div class="col-md px-5">
                    <div class="achievement-box">
                        <img class="achievement-logo" src="/img/education.png"/>
                        <span style="font-size:70px">300</span>
                        <h2>Penerima beasiswa</h2> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="text-center pt-5 pb-5">Didukung oleh</h1>
        <div class="row pb-5">
            <div class="col-md p-2">
                <img class="img-sponsor px-1" src="/img/iaitb.jpg"/>
            </div>
            <div class="col-md p-2">
                <img class="img-sponsor px-1" src="/img/iaitb.jpg"/>
            </div>
            <div class="col-md p-2">
                <img class="img-sponsor px-1" src="/img/iaitb.jpg"/>
            </div>
            <div class="col-md p-2">
                <img class="img-sponsor px-1" src="/img/iaitb.jpg"/>
            </div>
            <div class="col-md p-2">
                <img class="img-sponsor px-1" src="/img/iaitb.jpg"/>
            </div>
        </div>
    </div>

    <% include ../partials/footer.ejs %>


</body>
</html>
